# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. We will explore the key languages, libraries, and tools that data scientists use to perform their work.

Some of the popular languages that Data Scientists use are:
1.  Python üêç
2.  R
3.  SQL
4.  Julia
5.  Scala
6.  Java

Some of the commonly used libraries by Data Scientists include:
* Pandas
* NumPy
* Matplotlib
* Seaborn
* Scikit-learn
* Keras
* TensorFlow
* PyTorch
* ggplot2

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |
| Tableau            |
| KNIME              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

**Objectives:**
* List popular languages for Data Science.
* List popular libraries for Data Science.
* Create a table of development environment open source tools.
* Demonstrate arithmetic expression execution in a code cell.

## Author
Jashwanth R